.table-overflow-wrap
  %table.left-heading.striped
    %tbody
      %tr
        %th Colors
        %td Red
        %td Blue
        %td Green
      %tr
        %th Shapes
        %td Triangle
        %td Circle
        %td Square
      %tr
        %th Sizes
        %td Small
        %td Medium
        %td Large
