.badge {
  background: $primary-color;
  display: inline-block;
  border-radius: $corner-radius;
  color: $white;
  line-height: 1em;
  padding: 3px 5px;
  margin-left: 10px;
  font-size: .8em;
  @each $semantic-type, $semantic-color in $semantic-colors {
    &.#{$semantic-type} {
      background: $semantic-color;
    }
  }
}

