#datepicker.wardrobe-content-section
  :markdown
    ## Datepicker

    To filter data by a specific date or date range. <span class="highlighter">TODO: interaction and behavior styles.</span>
  .clearfix
    .left-half
      = partial "modules/datepicker"
  .push-top
  :markdown
    #### Usage

    ~~~haml
    %form.datepicker
      %input(type="text" value="09/24/2014 - 09/31/2014")
    ~~~
