#welcome.wardrobe-content-section
  :markdown
    ## Welcome
    Welcome to the Wardrobe, an application styleguide and component starter kit. Here is a page to store documentation for all used libraries alongside example implementations and code supported components.

    Documentation for languages/frameworks in use:

    * [middleman](http://middlemanapp.com); Ruby static site generator
    * [Sass](http://sass-lang.com); CSS preprocessor in use (SCSS syntax)
    * [Compass](http://compass-style.org); CSS authoring framework
    * [Susy 2](http://susy.oddbird.net/); Grid math @includes
    * [Breakpoint](http://breakpoint-sass.com/); @media-query @includes
    * [HAML](http://haml.info/); Less verbose than HTML templating
    * [CoffeeScript](http://coffeescript.org/); Less verbose than regular JS
    * [jQuery](http://jquery.com); JS Framework for prototyping behavior

